.card{
    border: 1px solid white;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(216, 189, 189);
    background-color: #ac7564;
    opacity: 0.8;
    justify-content: center;
}

